
---
layout: base.liquid
title: Planetary Playing Cards
---

<div class="grid">
  {% include 'sun.liquid' %}
  {% for planet in planets %}
    {% include 'planet.liquid', planet: planet %}
  {% endfor %}
</div>
