---
layout: base.liquid
title: Planetary Playing Cards
---

<div class="grid">
  {% include 'sun.liquid' %}
  {% for planet in collections.planets %}
    {% include 'planet.liquid' %}
  {% endfor %}
</div>
