<div class="card">
  <div class="planet-avatar" style="--planet-color: {{ page.data.color }}; --planet-size: {{ page.data.size }};"></div>
  <h2>{{ page.data.title }}</h2>
  <p>AU: {{ page.data.au }}</p>
</div>
